# env
.env

# OS
Thumbs.db
.DS_Store

# Logs
wp-content/debug.log
*.log

# WordPress core (no tracked)
wp-core/

# Docker
docker-data/

# Node dependencies
node_modules/

# OS artifacts
nul

# Temp files
tmp/

# WordPress uploads
wp-content/uploads/
C*
